package web

templ LoginForm(errMsg ...string) {
	<div class="login-container">
		<form method="POST" action="/login">
			@email()
			@password()
			@submit()
			if len(errMsg) > 0 {
				<div class="error-message">{ errMsg[0] }</div>
			}
		</form>
		<p class="register-link">
			Don't have an account? <a href="/register">Register</a>
		</p>
	</div>
}

templ email() {
	<label for="email">Email</label>
	<input
		id="email"
		class="input input-login-email"
		type="email"
		name="email"
		required
	/>
	<br/>
}

templ password() {
	<label for="password">Password</label>
	<input
		id="password"
		class="input input-login-password"
		type="password"
		name="password"
		required
	/>
	<br/>
}

templ submit() {
	<button class="submit-login-btn" type="submit">
		Login
	</button>
}
