package web

templ LoginForm() {
	<form
		method="POST"
		action="/user"
	>
		@email()
		@password()
		@submit()
	</form>
}

templ email() {
	<label for="email">Email</label>
	<input
		id="email"
		class="input input-login-email"
		type="email"
		name="email"
	/>
	<br/>
}

templ password() {
	<label for="password">Password</label>
	<input
		id="password"
		class="input input-login-password"
		type="password"
		name="password"
	/>
	<br/>
}

templ submit() {
	<button class="submit-login-btn">
		Login
	</button>
}
