package web

templ RegisterForm(errMsg ...string) {
	<div class="register-container">
		<form method="POST" action="/register">
			@regName()
			@regEmail()
			@regPassword()
			@regSubmit()
			if len(errMsg) > 0 {
				<div class="error-message">{ errMsg[0] }</div>
			}
		</form>
		<p class="login-link">
			Already have an account? <a href="/">Login</a>
		</p>
	</div>
}

templ regName() {
	<label for="name">Name</label>
	<input
		id="name"
		class="input input-register-name"
		type="text"
		name="name"
		required
		minlength="2"
	/>
	<br/>
}

templ regEmail() {
	<label for="email">Email</label>
	<input
		id="email"
		class="input input-register-email"
		type="email"
		name="email"
		required
	/>
	<br/>
}

templ regPassword() {
	<label for="password">Password</label>
	<input
		id="password"
		class="input input-register-password"
		type="password"
		name="password"
		required
		minlength="8"
	/>
	<br/>
}

templ regSubmit() {
	<button class="submit-register-btn" type="submit">
		Register
	</button>
}
